body{
    background-color: gray;
}

.dimensionsContainer{
    display: flex;
    justify-content: space-evenly;
}

.Canvas-Container{
     width: 100%;
     height: 548px;
}

.options-Card{
    width: auto;
    height: 548px;
}
