body{
    background-color: gray
}

.Dimensions-Container{
    display: flex;
    justify-content: space-evenly;
}

.Calculator-Card{
    margin: auto;
    width: 80%;
    background: #28303b;
}

.Canvas-Container{
     width: 100%;
     height: 60vh;
     min-width: 450px;
}

.Options-Card{
    width: 100%;
    height: 60vh;
    min-width: 450px;
}

.Select-Box{ 
    color: #06449b;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


